<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TimeTrainer</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>제목</th>
                <th>예상 시간</th>
                <th>설명</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="task: ${task_list}">
                <td th:text="${task.subject}"></td>
                <td th:text="${task.estimatedAt}"></td>
                <td th:text="${task.description}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>